:root {
    --dark-slate-gray: #384753;
    --khaki: #b0a084ff;
    --moonstone: #009fb7ff;
    --dark-moonstone: ;
    --light-sand: #FEF9DC;
    --thistle: #d4c1ecff;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100dvh;
    background-color: var(--dark-slate-gray);
}

*{
    box-sizing: border-box;
}

::placeholder{
    color: black;
}

main{
    width: 600px;
    padding: 60px;
    background-color: white;
    border-radius: 20px;
}

#searchForm{
    display: block;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#searchBar{
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: 1px solid rgb(165, 165, 165);
    height: 60%;
    padding-left: 10px;
    width: 350px;
    border-radius: 5px;
}

#searchButton{
    background-color: var(--moonstone);
    color: white;
    border: none;
    height: 60%;
    width: 100px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#searchButton:hover{
    background-color: rgb(4, 126, 145);
    transition: all 0.2s;
}

#searchBar, #searchButton{
    font-size: medium;
    font-weight: 400;
}

#content{
    display: none;
    width: 500px;
}

#details{
    display: none;
}

img{
    margin:5% 0;
    height: 300px;
    width: 200px;
    border-radius: 5px;
    background-size: cover;
}

article{
    display: inline-block;
    text-align: center;
    flex-grow: 1;
}

h1{
    font-size: xx-large;
    margin-bottom: 0;
}

h2{
    font-size: large;
    margin-bottom: 30px;
}

h3{
    font-weight: 200;
}

.detailHeader{
    margin-bottom: 5px;
}

p{
    margin-top: 0;
}

#movieList{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#moviesButton{
    height: 40px;
    width: 100px;
    border-radius: 5px;
}

#moviesButton:hover{
    filter: brightness(75%);
}

ul {
    list-style-type: none;
  }